<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/Host-Posting.css">
    </head>

    <header>

        <div class ="tabs">
            <a class="tab" onclick="location.href=''">HOME</a>
            <a class="tab" onclick="location.href='/park'">PARK</a>
            <a class="tab" onclick="location.href='/Customer-Support'">CONTACT</a>
            <form action = "/search" method="POST" role="search" class = "search">
                <input type="search" name = "searchTerm" placeholder= "search" class="search"></input>
            </form>
            <img src="/img/profile.png" class="profile">
            <% if(!current_user){ %>
                <a class="profile" href="/LogInPage">Log In/Register</a>
            <% } else { %>
                <a class="profile" href="/Profile/<%=current_user.username %>"><%=current_user.username %></a>
            <% } %>
            <img src="/img/logout.png" onclick="location.href='/logout'" class="logout"> 
        </div>

    </header>

    <body>

        <div id="Title">

            <div id="Parking-Title">
                <%= data.name %>
            </div>

            <div id="Parking-Descriptiom">
                <%= data.post__description%>
                <%= data.address__city%> city
            </div>
            
        </div>

        <div class="content">

            <div class="Park-profile">
                <img src="/img/HostPost1img.jpg" class="profilepic">
                <div id="specifications">
                    <b>Specifications:</b>
                    <br>
                    Total Capacity:  <%= data.total_capacity%>
                    <br>
                    Total Floors:  <%= data.total_floors%>
                </div>

                <!-- <button class="message">View Slots</button> -->

                <div class="bio">
                    <b>Parking Rates:</b>
                    <br>
                    Flat Rates: Php <%= data.flat__amount %> for first <%= data.flat__hours %> hours
                    <br>
                    Hourly Rates:<%= data.hour__amount %> for succeeding <%= data.hour__hours %> hours
                </div>

                <% if(!current_user){ %>
                    <button class="message" input onclick="location.href='/LogInPage'">Log In To Reserve</button>
                <% } else if(current_user.username !== data.username) { %>
                    <button class="message" input onclick="location.href='/reserveslots'">RESERVE</button>
                <% } else { %>
                    <button class="message" input onclick="location.href='/HostFormEdit/<%= data._id %>'">EDIT POST</button>
                    <!-- Assuming the 'data' variable contains the post details -->
                    <form action="/delete-spot/<%= data._id %>?_method=DELETE" method="POST">
                        <button class="message" type="submit">Delete</button>
                    </form>
                <% } %>
                 
                
            </div>

            <div class="spots">

                <div class="SpotDetails">
                    <%= data.post__description %>
                </div>

                <div id="Host">
                    Hosted by:
                    <div id="hostProfile">
                        <a href="/Profile/<%=data.username %>" class="hostname"><%= data.username %></a>
                    </div>
                </div>

                <% if(!current_user){ %>
                    <button class="message" input onclick="location.href='/LogInPage'">Log In To Add Review</button>
                <% } else if(current_user.username !== data.username){ %>
                    <div class="addReview">
                        <form action="/Host-Posting/<%= data._id%>/reviewProcessing" method="POST">
                            <br>
                            <div>
                                Select Rating:
                                <select name="rating">
                                    <option value="5">5</option>
                                    <option value="4">4</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                    <option value="1">1</option>
                                </select>
                                <input class="reviewInput" type="text" name="reviewBody" placeholder="Enter Review">
                                <input type="submit" class="message" name="SUBMIT">
                            </div>
                        </form>
                    </div>  
                <% } %>
                 
                
                <hr color="black">
                <div id="Reviews">
                        <% if(reviews.length === 0 || !reviews) { %>
                            <br>
                            <div> No Reviews for this Post Yet</div>
                        <% } else { 
                            reviews.forEach(review => { 
                                if(data._id.equals(review.post_id)){%>
                                    <div class="review">
                                        <img src="/img/profilepic1.png" class="review-image">
                                        <div>
                                            <div class="review-name"><%= review.username %> - <%= review.date %></div>
                                            <div class="review-rating">
                                                <% for( let i = 0; i < review.rating; i++) {%>
                                                <span class="star">&#9733;</span>
                                                <% } %>
                                            </div>
                                            <div class="review-text"> <%= review.reviewBody %></div>
                                        </div>
                                    </div>
                                    <% } %>
                                <% }); %>
                        <% } %>
                </div>
                <hr color="black">
            </div>
        </div>
    </body>
</html>
