<html>
    <head>
        <title>SPOT FINDER</title>
        <link rel="stylesheet" href="/css/park.css">
    </head>

    <body>
        <header>

            <div class="tabs">
                <a class="tab" onclick="location.href='/index'"">HOME</a>
                <a class="tab" onclick="location.href='/park'">PARK</a>
                <a class="tab" onclick="location.href='/Customer-Support'">CONTACT</a>
                <textarea class="search"></textarea>
                <img src="/img/profile.png" class="profile">
                <a class="profile" href="/Profile"><%= current_user.username %></a>
                <a href="Log In Page.html"><img src="/img/logout.png" class="logout"></a>
            </div>

            <div id="Title-section">

                <div id="Title"> <!-- title of the project -->
                    <h1>SPOTFINDER</h1>
                </div>

                <div id="description"> <!-- brief description of the project -->
                    <p>Our parking spot reservation system is designed to make your life easier and save you time. With just a few clicks, you can reserve a parking spot at your desired destination, ensuring you have a spot ready and waiting for you when you arrive. Our cutting-edge system offers real-time availability of parking spots, making it suitable for a range of scenarios and providing hassle-free parking.</p>
                </div>

            </div>

        </header>

        <div class="recommend">

            <div id="recommend-text">
                Reccomendations For You:
            </div>

        </div>

        <div class="cards-section">
            <% postList.forEach(post => { %>
                <a onclick="location.href='/Host-Posting/<%= post._id %>'">
                    <div class="card">
                        <h2><%= post.name %></h2>
                        <img src="/img/HostPost1img.jpg" class="cardimg">
                        <p><%=post.address__city%>, <%=post.address__region%>. <%=post.post__description%></p>
                    </div>
                </a>
            <% }); %>
        </div>
    </body>
</html>