<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/Profile.css">
    </head>

    <body>
        <div class="tabs">
            <a class="tab" onclick="location.href='/'">HOME</a>
            <a class="tab" onclick="location.href='/park'">PARK</a>
            <a class="tab" onclick="location.href='/Customer-Support'">CONTACT</a>
            <input type="text" class="search"></input>
            <img src="/img/profile.png" class="profile">
            <a class="profile" href="/Profile"><%= current_user.username %></a>
            <a href="Log In Page.html"><img src="/img/logout.png" class="logout"></a>
        </div>
        <div class="content">
            <div class="profile"> 
                <img src="/img/sample.png" class="profilepic">
                <div class="profilename">
                    Juan Dela Cruz
                </div>
                <div class="ratings">
                    <img src="/img/coloredstar.png" class="star-colored">
                    <img src="/img/coloredstar.png" class="star-colored">
                    <img src="/img/coloredstar.png" class="star-colored">
                    <img src="/img/coloredstar.png" class="star-colored">
                    <img src="/img/linedstar.png" class="star-lined">
                </div>
                <div class="contact">
                    <img src="/img/contacticon.png" class="phoneicon">
                    <div class="contactno">+123456</div>
                </div>
                <div class="bio">
                    you need spot ba? cuz pare chong  I gotchu pare chong see my slots thanks my G, sheeeeeeesh.
                </div>
                <button class="message" onclick="location.href='/HostForm'">Post a Host Spot</button>
            </div>
            <div class="spots">
                <div class="SpotsTitle">
                    SPOTS
                </div>
                
                <% postList.forEach(post => { 
                    if(post.username === current_user.username){%>
                        <div class="spotshosted">
                            <div class="spotsdesc">
                                <%= post.username %>. <%= post.name %> . <%= post.address__city %>
                            </div>
                            <div class="spotsdisplay">
                                id: <%= post._id %>
                                <a onclick="location.href='/Host-Posting/<%= post._id %>'"><img src="HostPost2img.jpg" class="spot"></a>
                            </div>
                        </div>
                    <% } %>
                <% }); %>

            </div>
            <div class="rightpanel">
                <button class="message" onclick="location.href='ReportAnalytics.html'">View Statistics</button>
                <hr>
                <div class="reservations">
                    <div class="titlereservation">
                        RESERVATIONS
                    </div>
                    <div class="current">
                        <div class="subtitle">
                            CURRENT
                        </div>
                        <div class="reservebody">
                            <a class="reserved" href="Host-Posting-Sample1.html">Samantha Parking Space. <div class="details">10:00AM-11:00AM. June 30, 2023.</div></a>
                        </div>
                        
                    </div>
                    <div class="past">
                        <div class="subtitle">
                            PREVIOUS
                        </div>
                        <div class="reservebody">
                            <a class="reserved" href="Host-Posting-Sample2.html">Jennifer Parking Space. <div class="details">10:00AM-11:00AM. May 20, 2023.</div></a>
                            <a class="reserved" href="Host-Posting-Sample4.html">Christopher Parking Space. <div class="details">10:00AM-11:00AM. March 30, 2023.</div></a> 
                            <a class="reserved" href="Host-Posting-Sample5.html">love and peace Parking Space. <div class="details">10:00AM-11:00AM. March 20, 2023.</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>