
<head>
    <link rel="stylesheet" href="/css/reserveslots.css">
</head>
<body>
    <header>

        <div class="tabs">
            <a class="tab" onclick="location.href='/index'">HOME</a>
            <a class="tab" onclick="location.href='/park'">PARK</a>
            <a class="tab" onclick="location.href='/Customer-Support'">CONTACT</a>
            <form action = "/search" method="POST" role="search" class = "search">
                <input type="search" name = "searchTerm" placeholder= "search" class="search"></input>
            </form>
            
            <img src="/img/profile.png" class="profile">
            <% if(!current_user){ %>
                <a class="profile" href="/LogInPage">Log In/Register</a>
            <% } else { %>
                <a class="profile" href="/LogInPage"><%=current_user.username %></a>
            <% } %>
            <img src="/img/logout.png" onclick="location.href='/logout'" class="logout"> 
        </div>

        <div id="Title-section">
            <%= data.name %>
        </div>

    </header>
    <form action="/reserveslots" method="POST">
        <div class="bodycontainer">
            <div class="details">
                <div class="legends">
                    <div class="rowlegend">
                        <div class="occupiedlegend"></div> Occupied
                    </div>
                    <div class="rowlegend">
                        <div class="availablelegend"></div> Available
                    </div>
                    <div class="rowlegend">
                        <div class="pathlegend"></div> Path/Road/Walkway
                    </div>
                </div>
                <div class="mapdetails">
                    STATUS: AVAILABLE <br>
                    NAME: A1 <br>
                    <!-- TODO: the math for this pls hehe -->
                    COST: Php 90.00 <br> 
                    M.O.P.: Over the Counter <br> <br>
                    <!-- TODO: ADD DATE -->
                    START:
                    <select>
                        <option>9:00AM</option>
                        <option>10:00AM</option>
                        <option>11:00AM</option>
                        <option>12:00PM</option>
                        <option>1:00PM</option>
                        <option>2:00PM</option>
                        <option>3:00PM</option>
                        <option>4:00PM</option>
                        <option>5:00PM</option>
                        <option>6:00PM</option>
                        <option>7:00PM</option>
                        <option>8:00PM</option>
                        <option>9:00PM</option>
                        <option>10:00PM</option>
                        <option>11:00PM</option>
                    </select>
                    END: 
                    <select>
                        <option>9:00AM</option>
                        <option>10:00AM</option>
                        <option>11:00AM</option>
                        <option>12:00PM</option>
                        <option>1:00PM</option>
                        <option>2:00PM</option>
                        <option>3:00PM</option>
                        <option>4:00PM</option>
                        <option>5:00PM</option>
                        <option>6:00PM</option>
                        <option>7:00PM</option>
                        <option>8:00PM</option>
                        <option>9:00PM</option>
                        <option>10:00PM</option>
                        <option>11:00PM</option>
                    </select>
                </div>
                <input type="submit" class="reserve" value="Reserve"></input>
                <input type="submit" class="exit" value="Cancel" onclick="location.href='/Host-Posting/<%= data._id %>'"></input>
            
            </div>

            <div class = slotChoices>
                <select id="cars" name="selectedSlot">
                    <% for(i = 0; i < data.total_capacity; i++){ %>
                        <% if(data.parking_capacity[i].available === 1) { %>
                        <option value="<%= data.parking_capacity[i]._id %>">Slot <%= i + 1 %> </option>
                        <% } %>
                    <% } %>
                    </select>
            </div>

        </div>
    </form>
</body>